<li>
	{{burger_name}}

	<button class="change-burger" data-id="{{id}}" data-newBurger="{{sleep}}">
		{{#if devoured}}You ate me!{{else}}Eat me!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>